<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Créditos Japa</title>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

	<style>
		body{
			background: #333;
			font-family: 'Indie Flower', cursive;
		}
		a{
			color: #fff;
			text-decoration: none;
			font-family: 'Indie Flower', cursive;
		}
		a:hover{
			color: #fff;
			font-weight: bolder;
			text-decoration: none;

		}
		ul li{
			list-style-type: none;
			font-family: 'Indie Flower', cursive;

		}
		.container{
			text-align: center;
			color: #fff;
			margin-top: 15%;
		}
	</style>
</head>
<body>
	<div class="col-xs-12">
		<ul>
			<li><a href="../index.html">Voltar</a></li>
			<li><a href="game.html" >Jogar</a></li>
		</ul>
	</div>
	<div class="container">
		<h1>Computação Gráfica - Ciências da Computação</h1>
		<h3>Japonês Piruleta - A falência geral</h3>
		<p>Basedo na História de um investidor mal sucedido da bolsa de valores</p>
		<span>Desenvolvimento</span>
		<h2>Leonardo Andriotti Moreno</h2>
		<span>Acadêmico em Ciências da Computação</span>
	</div>
	<script>
		var tema = new Audio();
		tema.src = "../_song/Led Zeppelin.mp3";
		tema.volume = 0.3;
		tema.load();
		tema.currentTime = 0.0;
		tema.play();
	</script>	
</body>
</html>